body {
  background-color: #f5f5f5; }

p {
  opacity: 0.7 !important; }

a {
  color: #B24592; }

.main-content {
  padding: 2rem; }

.left-panel {
  height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(0deg, #B24592 0%, #F15F79 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.right-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.nav-link {
  color: #B24592; }

.nav-link:hover {
  color: #F15F79; }

.rounded-circle {
  object-fit: cover;
  margin: 2rem; }

.img-fluid {
  object-fit: cover; }

.content {
  width: 100%;
  padding: 1rem;
  position: relative;
  overflow: auto; }

.content-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold; }

.content-subtitle {
  text-align: center;
  margin: 2rem 0;
  font-size: 15pt; }

.content-strong {
  text-transform: uppercase;
  font-weight: bolder;
  color: #B24592; }

.content-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.content-divider {
  border: 1px solid #B24592;
  width: 20%; }

.content-button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; }

.content-button {
  padding: 0.5rem;
  border: 1px solid #B24592;
  font-weight: bolder;
  border-radius: 100px;
  font-size: 10pt;
  width: 100%;
  text-align: center;
  margin: 10px 20px;
  color: #B24592;
  transition: 0.2s; }

.content-button:active {
  background-color: #B24592;
  color: #fff; }

.content-profil {
  text-align: center; }

.content-button:hover {
  text-decoration: none;
  background-color: #B24592;
  color: #fff; }

@media (max-width: 800px) {
  .content-button-group {
    flex-direction: column;
    margin: 0; } }
nav {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important; }

.btn-primary {
  color: #fff;
  background-color: #B24592;
  border: 1px solid #B24592;
  border-radius: 50px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%; }

.btn-primary:hover {
  color: #fff;
  background-color: #B24592;
  border: 1px solid #B24592;
  opacity: 0.9; }

.btn-nav {
  margin-left: 1rem; }

.btn-outline-primary {
  border-radius: 50px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border: 1px solid #fff;
  color: #fff;
  font-size: 10pt; }

.btn-outline-primary:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #474747; }

.btn-outline-secondary {
  border-radius: 50px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border: 1px solid #f1f1f1;
  color: #f1f1f1;
  font-size: 10pt; }

.btn-outline-secondary:hover {
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  color: #474747; }

aside {
  background-color: #B24592;
  height: 100vh; }

label {
  font-size: 10pt !important;
  color: #B24592;
  font-weight: bold; }

.form-section {
  margin: auto;
  width: 60%;
  height: 100%; }

.form-control {
  border: 1.5px solid rgba(178, 69, 146, 0.5);
  font-size: 10pt;
  padding: 0.7rem 0.75rem;
  transition: 0.3s; }

.form-control:focus {
  border-color: #B24592;
  color: #B24592;
  box-shadow: none; }

.submit-form-button {
  text-align: center; }

/* Sidebar Component */
.wrapper {
  display: flex; }

#sidebar {
  background-image: linear-gradient(0deg, #F15F79 0%, #B24592 100%);
  height: 150vh;
  max-width: 300px;
  min-width: 300px;
  padding-right: 2rem;
  padding-left: 2rem;
  transition-property: background-color, width;
  transition: 0.2s; }

.sidebar-header {
  text-align: center; }

.sidebar-logo {
  width: 170px;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.nav-item {
  display: flex; }

.side-icon {
  border: 1px solid #fff;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 100%;
  color: #B24592 !important;
  background-color: #fff;
  transition-property: transform;
  transition: 0.3s; }

.side-icon:hover {
  color: #F15F79 !important;
  transform: scale(1.1); }

.side-button {
  width: 100%;
  color: #fff;
  font-size: 10pt;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  margin-bottom: auto;
  transition-property: background-color;
  transition: 0.3s; }

.side-button:hover {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #F15F79;
  background-color: #fff; }

@media (max-width: 1000px) {
  #sidebar {
    max-width: 80px;
    min-width: 80px;
    padding-right: 1rem;
    padding-left: 1rem; }

  .sidebar-logo {
    width: 50px; }

  .side-button {
    display: none; } }
.card {
  margin-bottom: 30px; }

.card-title {
  color: #B24592;
  font-size: 16pt;
  text-transform: uppercase;
  font-weight: bolder; }

.card-text {
  font-size: 10pt !important;
  margin: 1rem 0 2rem 0;
  opacity: 0.7; }

.card-date {
  color: #B24592;
  opacity: 0.7; }

.card-profil {
  width: 100%;
  height: auto;
  object-fit: cover; }

.card-img-left {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card-button-group {
  display: flex;
  justify-content: space-around; }

.card-button {
  border: 1px solid #B24592;
  border-radius: 50px;
  background-color: #B24592;
  color: #fff;
  padding: 0.5rem;
  font-size: 10pt;
  width: 100%;
  margin: 0.5rem;
  text-align: center; }

.card-button:hover {
  background-color: #F15F79;
  color: #fff;
  text-decoration: none;
  border: none; }

.card-button-outline {
  border: 1px solid #B24592;
  border-radius: 50px;
  color: #B24592;
  padding: 0.5rem;
  font-size: 10pt;
  width: 100%;
  margin: 0.5rem;
  text-align: center; }

.card-button-outline:hover {
  background-color: #B24592;
  color: #fff;
  text-decoration: none;
  border: none; }

.modal-content {
  padding: 2rem; }

.modal-button {
  color: #B24592;
  border: 1px solid #B24592;
  padding: 7px 20px;
  border-radius: 60px;
  font-size: 10pt;
  transition: 0.2s; }

.modal-button:hover {
  color: #fff;
  border: 1px solid #B24592;
  background-color: #B24592; }

/*# sourceMappingURL=main.css.map */
