.site-sidebar {
  background-color: rgb(196, 75, 144);
  height: 100vh;
  width: 300px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.3s;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-content {
  background-color: #f1f1f1;
  margin-left: 300px;
  padding: 30px;
  transition: 0.3s;
  height: 3000px;
}

.sidebar-logo {
  width: 150px;
  transition: 0.3s;
}

.sidebar-logo:hover {
  transform: scale(1.1);
}

.sidebar-logo-single {
  display: none;
}

.sidebar-divider {
  background-color: #fff;
  width: 100%;
  margin-top: 2rem;
}

.sidebar-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  text-align: left;
}

.sidebar-item {
  margin-top: 2rem;
  width: 100%;
}

.sidebar-icon {
  color: purple;
  background-color: #fff;
  border-radius: 100px;
  padding: 15px;
  transition: 0.2s;
}

.sidebar-icon:hover {
  transform: scale(1.1);
}

.sidebar-button {
  margin-left: 10px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 10px;
  text-align: center;
  color: #fff;

  transition: 0.2s;
}

.sidebar-button:hover {
  background-color: #fff;
  color: purple;
  text-decoration: none;
  transform: scale(1.2);
}

@media screen and (max-width: 1100px) {
  .site-sidebar {
    width: 80px;
    padding: 20px;
  }
  .site-content {
    margin-left: 80px;
    padding: 20px;
  }
  .sidebar-logo {
    display: none;
  }
  .sidebar-logo-single {
    display: block;
    width: 30px;
  }
  .sidebar-button {
    display: none;
  }
}
