body {
  font-family: 'Poppins', sans-serif !important;
  font-size: 10pt !important;
  background-color: #f5f5f5;
}

h1,
h2,
h3 {
  font-family: 'Montserrat' sans-serif !important;
  font-weight: bolder;
}

p {
  opacity: 0.7;
  line-height: 20pt;
}

a {
  color: $raspberry !important;
  transition: 0.2s;
}

a:hover {
  color: $strawberry !important;
  text-decoration: none !important;
}

.nav-link {
  color: $grey;
}

.nav-link:hover {
  color: $strawberry;
}

.nav-link-active {}

.rounded-circle {
  object-fit: cover;
  margin: 2rem;
}

.img-fluid {
  object-fit: cover;
}
