.content {
  width: 100%;
  padding: 1rem;
  position: relative;
  overflow: auto;
}

.content-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: $raspberry;
}
.content-subtitle{
  text-align: center;
  margin: 2rem 0 2rem 0;
  font-size: 15pt;
}

.content-divider {
  border: 1px solid $raspberry;
  width: 50%;
}

.content-button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content-button {
  padding: 0.5rem;
  border: 1px solid $raspberry;
  font-weight: bolder;
  border-radius: 100px;
  font-size: 10pt;
  width: 100%;
  text-align: center;
  margin: 10px 20px 10px 20px;
  color: $raspberry;
}

.content-button:hover {
  text-decoration: none;
  background-color: $raspberry;
  color: $white;
}
@media (max-width: 800px) {
  .content-button-group {
    flex-direction: column;
    margin: 0;
  }
}
