/* Sidebar Component */
.wrapper {
  display: flex;
}

#sidebar {
  background-image: linear-gradient(0deg, $strawberry 0%, $raspberry 100%);
  height: 100vh;
  max-width: 300px;
  min-width: 300px;
  padding-right: 2rem;
  padding-left: 2rem;
  transition-property: background-color, width;
  transition: 0.2s;
}

.sidebar-header {
  text-align: center;
}

.sidebar-logo {
  width: 170px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav-item {
  display: flex;
}

.side-icon {
  border: 1px solid $white;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 100%;
  color: $raspberry !important;
  background-color: $white;
  transition-property: transform;
  transition: 0.3s;
}

.side-icon:hover {
  color: $strawberry !important;
  transform: scale(1.1);
}

.side-button {
  width: 100%;
  color: $white;
  font-size: 10pt;
  border: 1px solid $white;
  border-radius: 50px;
  text-align: center;
  margin-bottom: auto;
  transition-property: background-color;
  transition: 0.3s;
}

.side-button:hover {
  border: 1px solid $white;
  border-radius: 50px;
  color: $strawberry;
  background-color: $white;
}

.active{
  background-color: $white;
  color: $raspberry;
}
@media (max-width: 1000px) {
  #sidebar {
    max-width: 80px;
    min-width: 80px;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .sidebar-logo {
    width: 50px;
  }

  .side-button {
    display: none;
  }
}
